DATABASE_URL=jdbc:mysql://localhost:3306/rental-house-db
DATABASE_USERNAME=root
DATABASE_PASSWORD=
DATABASE_NAME=rental-house-db

EMAIL=
PASSWORD=

PROJECT_ID=
ACCESS_KEY=

BOT_TOKEN=
CHAT_ID_A100=

SECRET_KEY=

